{% load static %}
<html>


<body style="background-color: grey;">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'TODO/style.css' %}">
    <div style="padding: 3px 3px 3px 3px; margin-left: 910px; margin-right: 10px; opacity: 0.5;">
        <h1 style="text-align: right; color: white;">{{timesekarang}}</h1>
        <h2>#ARCEksplorSekali</h2>
    </div>
    <h1>
        To Do List
    </h1>
    <hr style="color: black; margin-left: 400px; margin-right: 400px; border-width: 2px; display: block; ">








    <div style="margin-left: 500px;">
        <ol style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: 22px; 
        color: black;">
            {% for todo_item in all_items %}
            <li>{{todo_item.content}}
                <form action="/deleteTodo/{{todo_item.id}}/" style="display: inline;" method="post">{% csrf_token %}
                    <input type="submit" value="delete">
                </form>
            </li>
            {% endfor %}
        </ol>
    </div>

    <form action="/addTodo/" method="post">{% csrf_token %}
        <input type="text" name="content">
        <input type="submit" name="add">
    </form>
    <div style="margin-top: 300px; background-color: cadetblue;">
        <p style="color: white;">Copyright to Faishal, Jafar, and Salman 2020</p>
    </div>
</body>

</html>